#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MSI Center
Exec=/bin/bash /home/dev/Programs/MSI-Center-Linux-GS66-RU/run.sh
Icon=/home/dev/Programs/MSI-Center-Linux-GS66-RU/msi.png
